.btn-modal {
    position: absolute;
    top: 205px;
    right: 15px;
    width: 100px;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'JetBrains Mono';
    transition: background-color 0.3s ease;
}

.btn-modal:hover {
    background-color: #36454F;
}

.btn-modal:active {
    background-color: #000000;
}

.btn-modal:focus {
    outline: none;
    box-shadow: 0 0 0 3px #36454F;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1001; 
    width: 500px;
    text-align: center;
    font-family: 'JetBrains Mono';
}

.close-modal {
    width: 100px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'JetBrains Mono';
    transition: background-color 0.3s ease;
}

.close-modal:hover {
    background-color: #36454F;
}

.close-modal:active {
    background-color: #000000;
}

.close-modal:focus {
    outline: none;
    box-shadow: 0 0 0 3px #36454F;
}


